@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Ranchers&family=Roboto+Slab&display=swap');

/*------------------------------------------------Colors */ 

.bandname {
    background-color: #fff1d7;    
    }

.nav-links {
    background-color: #fff1d7
}

.about-link {
    background-color: #e8b015;
}

.tour-link {
    background-color: #ed1894;
}

.music-link {
    background-color: #123680;
}

.gallery-link {
    background-color: #189e95;
}

.homepage, .reviews, .charity-links {
    background-color: #fff1d7;
}

.about-page {
    background-color: #fff1d7;
}

.tour-page {
    background-color: #fff1d7;
}

.music-page {
    background-color: #fff1d7;
}

/*------------------------------------------------Heading */ 


.row a {
    text-decoration: none;
}

.bandname {
    position: fixed;
    top: 0;
    font-family: 'Ranchers', cursive; 
    font-size: 12vh;
    font-weight: 400;
    color: #000000; 
    padding-left: 50px;
    z-index: 1;
}

.nav-links {
    position: fixed;
    width: 100vw;
    z-index: 1;
    padding-top: 15vh;
    padding-left: 50px;
    padding-right: 50px;
    }

.link {
    position: relative;
    display: inline-block;
    font-family: 'Ranchers', cursive;
    font-size: 20px;
    width: 90%;
    height: 10vh;
    color: #fff1d7;
    text-align: center;
    border-radius: 5%;
    border: none;
    padding-top: 3vh;    
    }



.nav-link {
    padding-right: 0px;
    padding-left: 0px;
}

/*------------------------------------------------Footer */ 

footer {
    background-color: #ed1894;
    height: 15vh;  
    width: 100vw;
    position: fixed;
    bottom:0; 
    padding: 10px;
}

.shop-link {
    background-color: #e8b015;
    font-family: 'Ranchers', cursive;
    font-size: 20px;
    color: #fff1d7;
    text-align: center;
    border-radius: 5%;
    border: none;
    padding: 10px 20px;
}


.contact-link {
    background-color: #189e95;
    font-family: 'Ranchers', cursive;
    font-size: 20px;
    color: #fff1d7;
    text-align: center;
    border-radius: 5%;
    border: none;
    padding: 10px 20px;
}

.social-links {
    font-size: 25px;
}

.footer-links  {
    padding: 20px;
}


/*------------------------------------------------Home page */

.homepage {
    height: 100vh;
    text-align: center;
    position: relative;
    top: 25vh;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.homepage div {
    text-align: center;
}

.cover-img {
    height: 250px;
    width: 250px;
}

.reviews {
    padding-top: 5vh;
}

.bold {
    font-weight: bold;
}

.reviews h3 {
    font-family: 'Caveat', cursive;
}

.charity-links {
    padding-top: 2vh;
    padding-bottom: 100px;
    text-align: center;
}

.charity-links a img {
    height: 75px;
    width: 75px;
    display: inline-block;
    padding: 10px;
}


/*need to center charity links images in column*/

/*------------------------------------------------About page */

.about-page {
    position: relative;
    top: 25vh;
    padding-top: 5vh;
    padding-bottom: 20vh;
    font-family: 'Roboto Slab', serif;
    font-size: large;
}

.about-page-content {
    font-family: 'Roboto Slab', serif;
    
}

.about-page-image {
    height: 200px;
    width: 300px;
}

/*------------------------------------------------Tour page */

.tour-page {
    position: relative;
    top: 25vh;
    padding-top: 5vh;
    padding-bottom: 20vh;
    font-family: 'Roboto Slab', serif;
    font-size: large;
}

.tour-page-image {
    height: 45vh;
    width: 70vw;
}

.no-bullets {
    list-style-type: none;
}


/*------------------------------------------------Music Page */

.music-page {
    position: relative;
    top: 25vh;
    padding-top: 5vh;
    padding-bottom: 20vh;
    font-family: 'Ranchers', cursive;
    font-size: large;
}

.music-page img {
    height: 200px;
    width: 200px;;
}








@media only screen and (min-width: 992px) {
    .charity-links a img {
        display: block;
    }
}
